@use 'variables';
@use 'mixins';

.gallery{
    &__image-container{
        border: 2px solid blue;
        height: 300px;
        width: 100%;
        background-image: url(../images/image-product-1.jpg);
        background-position-y:-35px ; //sube la posicion de la imagen
        background-size: cover;
        &:hover{
            cursor: pointer;
        }
    }
    &__previus{
        @include mixins.image-btn(190px, 15px);//()creacion de parametros para las posiciones 
    }
    &__next{
        @include mixins.image-btn(190px, 320px);
    }
    &__thumnail{
        display: none;
        @media (min-width: 1115px) {
            display: block;
        }
    }
}