@use 'variables' as v;

@mixin modal-background{
    background-color: v.$Black-modal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; //para poner la imagen hacia atras de las flechas (next,previus)
    display: none;
}

@mixin image-btn($top, $left){ //variables para la posicion de las flechas
    background-color: v.$White;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: $top;
    left: $left;
    &:hover{
        cursor: pointer;
    }
    @media(min-width: 1115px){
        display: none;
    }
}
@mixin changenumber($pv, $ph){
    width: 25px;
    height: 100%;
    padding: $pv $ph;
    &:hover{
        cursor: pointer;
    }
}

@mixin button{
    background-color: v.$Orange;
    width: 100%;
    height: 55px;
    color: v.$White;
    border-radius: 8px;
    border: none;
    font-size: 0.9em;
    font-weight: 700;
    display: flex; //
    align-items: center; // se centra verticalmente
    justify-content: center; // se centra horizontalmente
    gap: 16px;
    &:hover{
        cursor: pointer;
        opacity: 0.5; //le da efecto de opacidad al boton carten 
    }

}