@use 'variables';
@use 'mixins';

.modal-navbar{
    //& selector comercial
    &__background{
        @include mixins.modal-background;
    }
    background-color: variables.$White;
    height: 100%;
    width: 250px;
    padding: 28px 24px;
    //display: none;
    &__items{
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        list-style: none; //quita los puntos de la lista de la columna
        margin-top: 50px;
    }
    &__link{
        text-decoration: none; //quita subrayado del enlace
        color: variables.$Very-dark-blue;
        font-weight: 700;
        font-size: 1.1em;
    }
    &__close-icon:hover{
        cursor: pointer;
    }
}