@use 'initial';
@use 'variables';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'mixins';
@use 'gallery';
@use 'details';
@use 'input';
@use 'modal-cart';
@use 'modal-gallery';

.main-container{
    width: 375px;
    margin: auto;
    position: relative;
    @media (min-width: 1115px){
            width: 1115px;
    }

}

.content{
    @media (min-width: 1115px){
        display: flex;
        padding: 90px 50px;
        gap: 124px
    }
}

//creacion de clase para poder utilizarla en js para cerrar (x)
.show{
    display: block;

}

