@use 'initial';
@use 'variables';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'mixins';

.main-container{
    width: 375px;
    border: 1px solid purple;
    margin: auto;
    position: relative;
    @media (min-width: 1115px){
            width: 1115px;
    }

}


