@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.header {
  display: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
}
@media (min-width: 1115px) {
  .header {
    height: 112px;
    border-bottom: 2px solid gray;
  }
}
.header__navigation {
  width: 175px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header__navigation {
    width: 590px;
  }
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header__menu {
    display: none;
  }
}
.header__cart-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*todo se modificara cuando mediaquery se cumpla*/
  width: 70px;
}
@media (min-width: 1115px) {
  .header__cart-avatar {
    width: 125px;
  }
}
.header__cart {
  position: relative;
}
.header__cart--notification {
  display: none;
  background-color: hsl(26, 100%, 55%);
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.header__cart:hover {
  cursor: pointer;
}
.header__avatar {
  width: 25px;
}
@media (min-width: 1115px) {
  .header__avatar {
    width: 48px;
  }
}
.header__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

.navbar {
  display: none;
  width: 400px;
}
.navbar__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar__link {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  display: block;
  height: 115px;
  padding-top: 42px;
}
.navbar__link:hover {
  border-bottom: 4px solid hsl(26, 100%, 55%);
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.modal-navbar {
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  width: 250px;
  padding: 28px 24px;
  display: none;
}
.modal-navbar__background {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.modal-navbar__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  list-style: none;
  margin-top: 50px;
}
.modal-navbar__link {
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 1.1em;
}
.modal-navbar__close-icon:hover {
  cursor: pointer;
}

.gallery__image-container {
  border: 2px solid blue;
  height: 300px;
  width: 100%;
  background-image: url(../images/image-product-1.jpg);
  background-position-y: -35px;
  background-size: cover;
}
.gallery__image-container:hover {
  cursor: pointer;
}
.gallery__previus {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  left: 15px;
}
.gallery__previus:hover {
  cursor: pointer;
}
.gallery__next {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  left: 320px;
}
.gallery__next:hover {
  cursor: pointer;
}
.gallery__thumnail {
  display: none;
}
@media (min-width: 1115px) {
  .gallery__thumnail {
    display: block;
  }
}

.details {
  border: 2px solid blueviolet;
  padding: 24px;
}
.details__company {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.details__title {
  font-size: 1.7em;
  margin-bottom: 16px;
}
.details__description {
  font-size: 0.94em;
  color: hsl(219, 9%, 45%);
  line-height: 24px;
  margin-bottom: 24px;
}
.details__prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}
.details__now {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 18px;
}
.details__discount {
  font-size: 0.5em;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 4px;
  border-radius: 4px;
}
.details__before {
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}
.details__button {
  background-color: hsl(26, 100%, 55%);
  width: 100%;
  height: 55px;
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: none;
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.details__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.input {
  height: 57px;
  display: flex;
  justify-content: space-between;
}
.input__minus {
  width: 25px;
  height: 100%;
  padding: 24px 5px;
}
.input__minus:hover {
  cursor: pointer;
}
.input__number {
  width: 100%;
  border: none;
  background-color: hsl(223, 64%, 98%);
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  outline: none;
}
.input__plus {
  width: 25px;
  height: 100%;
  padding: 19px 3px;
}
.input__plus:hover {
  cursor: pointer;
}

.main-container {
  width: 375px;
  border: 1px solid purple;
  margin: auto;
  position: relative;
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
  }
}

/*# sourceMappingURL=main.css.map */
